.main__section.main__panel {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 0px;
}

.section__panel {
    align-items: center;
    box-shadow: 0px 0px 13px 4px #00000070;
    border-radius: 4px;
    height: 96%;
    width: 98%;
    display: flex;
    justify-content: space-evenly;
}