.main__section.main__analytics {
    flex-direction: column;
    justify-content: center;
}

.content_children.graphic {
    display: grid;
    box-shadow: 0px 0px 15px 4px #00000040;
    border: 1px solid var(--cor2);
    background-color: white;
    border-radius: 7px;
    grid-template-columns: 330px 1fr 330px;
    grid-template-rows: 300px 1fr;
    width: 100%;
    grid-template-areas: "aside__content__left graphic__section aside__content__right";
}


.aside__content.left {
    grid-area: aside__content__left;
}

.aside__content.right {
    grid-area: aside__content__right;
}

.graphic__section {
    grid-area: graphic__section;
}

.wrapper__container {
    background-color: var;
    box-sizing: border-box;
    height: 100%;
    padding: 10px 10px;
    width: 100%;
}

.buttons__filter {
    align-items: center;
    justify-content: space-evenly;
    display: flex;
    width: 100%;
}

.graph__container {
    box-sizing: border-box;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 215px;
    width: 100%;
    
}


.meses, .columns {
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    height: 60%;
    width: 100%;
}

.meses {
    margin-top: 10px;
    height: 0%;
}

.mes {
    text-align: center;
    width: 60px;
}

.buttons__filter .btns__graphic__data {
    align-items: center;
    color: white;
    background-color: var(--cor3);
    border-radius: 4px;
    display: flex;
    justify-content: center;
    text-decoration: none;
    padding: 3px 15px;
    width: 12%;
}

.buttons__filter .btns__graphic__data:focus {
    background-color: var(--cor2);
}

.buttons__filter .btns__graphic__data:nth-of-type(1).focus {
    background-color: var(--cor2);
}

.buttons__filter .filter__by__year {
    outline: none;
    background-color: lightblue;
    border: none;
    border-radius: 4px;
    padding: 4.5px 0px;
    width: 100px;
}