.growthly {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;
}

.circle {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100px;
    width: 100px;
    border-radius: 100px;
    border: 20px solid var(--cor0)
}

.percent {
    font-size: 35px;
}