.section__customer {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 95%;
    width: 100%;
    padding: 10px;
}

.section__customer .container {
    align-items: center;
    box-shadow: 0px 0px 15px 4px #00000040;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
}

.section__customer .container:nth-of-type(1) {
    width: 19%;
}

.section__customer .container:nth-of-type(2) {
    width: 79%;
}

.section__customer .container:nth-of-type(1) .boxes {
    align-items: center;
    background-color: var(--cor2);
    border-radius: 5px;
    box-sizing: border-box;
    display: flex;
    color: white;
    justify-content: space-evenly;
    padding: 20px;
    height: 130px;
    width: 90%;

}

.section__customer .container:nth-of-type(1) i {
    font-size: 60px;
}

.section__customer .container:nth-of-type(1) .customer__info {
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    text-align: center;
    width: 70%;
}

.section__customer .container:nth-of-type(1) .customer__info h4 {
    font-size: 16px;
    margin: 0px;
}

.section__customer .container:nth-of-type(1) .customer__info .quantity {

    font-size: 25px;
}

.section__customer .container:nth-of-type(2) {}

.section__customer .container:nth-of-type(2) .search {
    align-items: center;
    background-color: var(--cor2);
    box-sizing: border-box;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    height: 50px;
    width: 97%;
}

.section__customer .container:nth-of-type(2) .search label {
    align-items: center;
    background-color: var(--cor3);
    border-radius: 5px 0px 0px 5px;
    color: white;
    display: flex;
    font-size: 14px;
    height: 27px;
    justify-content: center;
    width: 12%;
}


.section__customer .container:nth-of-type(2) .search .input__search {
    height: 25px;
    border: none;
    border-radius: 0px 5px 5px 0px;
    outline: none;
    text-indent: 6px;
    width: 83%;
}


.wrap__table {
    height: 520px;
    border-radius: 5px;
    width: 97%;
    overflow: auto;
}

table {
    border-collapse: separate;
    border-spacing: 0 1em;
    background-color: var(--cor2);
    width: 100%;

}

table tbody {
    color: white;
    overflow: scroll;
}

table thead {
    color: white;
}

table thead tr th {
    position: sticky;
}

table td {
    text-align: center;
}

table td:nth-of-type(1) {
    width: 10%;
}

table td:nth-of-type(2) {
    width: 50%;
}

table td:nth-of-type(3),
td:nth-of-type(4) {
    width: 15%;
}

table td:nth-of-type(3),
td:nth-of-type(5) {
    width: 10%;
}

table .btn__consult {
    font-size: 14px;
    padding: 0px 5px;
}

table .btn__consult:hover {
    background-color: var(--cor3);
}

table tr {
    border: 1px solid white;
    font-size: 13px;
    margin: 5px;
}