.section__customer {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    padding: 10px;
}

.section__customer .container {
    align-items: center;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.section__customer .container:nth-of-type(1) {
    width: 19%;
}

.section__customer .container:nth-of-type(2) {
    width: 79%;
}

.section__customer .container:nth-of-type(1) .boxes {
    align-items: center;
    background-color: white;
    border-radius: 5px;
    box-sizing: border-box;
    display: flex;
    color: black;
    justify-content: space-between;
    padding: 20px;
    height: 110px;
    width: 90%;

}

.section__customer .container:nth-of-type(1) i {
    font-size: 50px;
}

.section__customer .container:nth-of-type(1) .customer__info {
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    text-align: center;
    width: 70%;
}

.section__customer .container:nth-of-type(1) .customer__info h4 {
    font-size: 15px;
    margin: 0px;
}

.section__customer .container:nth-of-type(1) .customer__info .quantity {

    font-size: 21px;
}


.section__customer .container:nth-of-type(2) .search {
    align-items: center;
    background-color: white;
    box-sizing: border-box;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    height: 50px;
    width: 100%;
}

.section__customer .container:nth-of-type(2) .search label {
    align-items: center;
    background-color: var(--cor3);
    border-radius: 5px 0px 0px 5px;
    color: white;
    display: flex;
    font-size: 14px;
    height: 27px;
    justify-content: center;
    width: 12%;
}


.section__customer .container:nth-of-type(2) .search .input__search {
    height: 25px;
    border: none;
    background-color: var(--cor1);
    color: white;
    height: 27px;
    border-radius: 0px 5px 5px 0px;
    outline: none;
    text-indent: 6px;
    width: 83%;
}


.wrap__table {
    height: 84vh;
    border-radius: 5px;
    width: 100%;
    background-color: white;
    overflow: auto;
}

table {
    border-collapse: separate;
    border-spacing: 0 1em;
    color: var(--cor5);
    background-color: white;
    width: 100%;

}

table tbody {
    color: var(--cor5);;
    overflow: scroll;
}

table thead {
    color: var(--cor5);;
}

table thead tr th {
    position: sticky;
}

table td {
    text-align: center;
}

table td:nth-of-type(1) {
    width: 10%;
}

table td:nth-of-type(2) {
    width: 50%;
}

table td:nth-of-type(3),
td:nth-of-type(4) {
    width: 15%;
}

table td:nth-of-type(3),
td:nth-of-type(5) {
    width: 10%;
}

table a.btn__consult {
    color: var(--cor2);
    font-size: 23px;
    text-decoration: none;
}

table .btn__consult:hover {
    transition: .5s;
    background-color: rgb(164, 164, 164);
}

table tr {
    border: 1px solid var(--cor5);;
    font-size: 13px;
    margin: 5px;
}