header.header {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: var(--cor2);
}

.header__top, 
.header__bottom {
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    height: auto;
    width: 100%;
}

.header__top {
    border-bottom: 1px solid rgba(255, 255, 255, 0.36);
}

.header__bottom {
    height: 100px;
}