.header__nav__top {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 50%;
}

.header__nav__top .nav__links {
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 20px;
    list-style: none;
}

