.main__section {
    padding: 10px 50px;
}

h1 {
    font-size: 22px;
    margin: 0px;
    margin-bottom: 10px;
}

.content_children {
    display: grid;
    box-shadow: 0px 0px 15px 4px #00000040;
    border: 1px solid var(--cor2);
    border-radius: 7px;
    grid-template-columns: 280px 1fr;
    grid-template-rows: 240px;
    grid-template-areas: "aside__content graphic__section";
}

.aside__content {
    grid-area: aside__content;
}

.graphic__section {
    grid-area: graphic__section;
}