.wrap {
    align-items: center;
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.aside__right {
    background-color: white;
    box-shadow: 0px 0px 15px 4px #00000040;
    border-radius: 4px;
    height: 100%;
    width: 220px;
}

.aside__left {
    align-items: center;
    box-shadow: 0px 0px 15px 4px #00000040;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    background-color: white;
    border-radius: 4px;
    height: 100%;
    width: 420px;
}

