:root {
    --cor0: #57b0ff;
    --cor1: #022340;
    --cor2: #123357;
    --cor3: #143959;
    --cor4: #02F76D;
    --cor5: rgb(0 34 93);
}

.app {
    display: grid;
    grid-template-columns: 400px 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
    "header header"
    "main__section main__section"
    "footer footer";

    height: 100vh;
}

header.header {
    grid-area: header;
}


.main__section {
    grid-area: main__section;
}

footer.footer {
    grid-area: footer;
}

.aside__content {
    grid-area: aside__content;
}