.section__home {
    display: grid;
    grid-template-columns: repeat(1fr, 2);
    grid-template-rows: repeat(1fr, 2);
    grid-template-areas: 
    "box box"
    "box box";
    height: 95%;
    width: 100%;
}

.box {
    align-self: center;
    border-radius: 4px;
    box-shadow: 0px 0px 15px 4px #00000040;
    margin: auto;
    background-color: white;
    height: 95%;
    width: 98%;
}

/*retirar dps*/

.box:nth-of-type(2), .box:nth-of-type(1) {
    background-color: transparent;
    box-shadow: none;
}