
.container__auth {
    align-items: center;
    background: linear-gradient(177deg, rgba(14, 0, 255, 1) 0%, rgb(6, 122, 255) 100%);
    
    border-radius: 0px 5px 5px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    width: 370px;
}

.container__inputs {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 80%;

}