.container__auth {
    align-items: center;
    background: linear-gradient(177deg, var(--cor3), var(--cor2));
    color: white;
    border-radius: 0px 60px 0px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 370px;
}

h1 {
    margin: 0px;
}


.container__auth span {
    font-size: 12px;
    color: rgb(208, 208, 208);
}

.container__inputs {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    height: 310px;
}

.input__user, .input__pass {
    align-items: center;
    display: flex;
    justify-content: center;
}

input {
    border: none;
    outline: none;
    height: 32px;
    width: 220px;
    padding: 0px;
    text-indent: 7px;
}

label {
    display: flex;
    background-color: var(--cor1);
    align-items: center;
    justify-content: center;
    height: 32px;
    width: 50px;
}

.forgetpass {
    align-self: flex-end;
    cursor: pointer;
}

.btn {
    color: black;
    border-radius: 20px;
    border: none;
    outline: noe;
    cursor: pointer;
    box-shadow: 1px 3px 3px 0px #00000047;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background-color: var(--cor4);
    height: 35px;
    width: 150px;
}

.btn:hover {
    background-color: #00c957;
    
}