
.container__auth {
    align-items: center;
    background-color: white;
    border-radius: 0px 5px 5px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 380px;
    width: 450px;
}

.container__inputs {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 80%;

}