.container_welcome {
    border-radius: 5px 0px 0px 5px;
    box-sizing: border-box;
    color: rgb(28, 28, 28);
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: 7px 30px;
    width: 490px;
}

h1 {
    margin: 0px;
}

p {
    margin: 5px 0px;
    font-size: 14px;
    width: 75%;
}

ul {
    align-self: left;
}

.img_welcome {
    align-self: center;
    height: 220px;
    width: 220px;
}