:root {
    --cor0: #f1b244;
    --cor1: rgb(11, 88, 220);
    --cor2: rgb(0 34 93);
    --cor3: rgb(21 157 210);
    --cor4: #2ad52a;
    --cor5: rgb(0 34 93)
}

.app {
    display: grid;
    grid-template-columns: 400px 1fr;
    grid-template-rows: auto 1fr 50px;
    grid-template-areas: 
    "header header"
    "main__section main__section"
    "footer footer";

    height: 100vh;
}

header.header {
    grid-area: header;
}


.main__section {
    grid-area: main__section;
}

footer.footer {
    grid-area: footer;
}

.aside__content {
    grid-area: aside__content;
}