
.box.left .box__infos:nth-of-type(1) .data__resume {
    height: 100%;
    width: 68%;
}

.box.left .box__infos:nth-of-type(1) .data__resume h2 {
    margin: 5px 0px;
}

.box.left .box__infos:nth-of-type(1) .data__resume .points {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(1fr, 3);
    grid-template-areas:
        "box box"
        "box box"
        "box box";
    height: 70%;
    width: 100%;
}

.box.left .box__infos:nth-of-type(1) .data__resume .points .box {
    align-items: center;
    grid-area: "box";
    display: flex;
    justify-content: space-evenly;
    gap: 5px;
    width: 92%;

}
.box.left .box__infos:nth-of-type(1) .data__resume .points .box .icons {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100%;
    width: 47px;
}

.box.left .box__infos:nth-of-type(1) .data__resume .points .box i {
    font-size: 37px;
}

.box.left .box__infos:nth-of-type(1) .data__resume .points .box .point {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    height: 100%;
}

.box.left .box__infos:nth-of-type(1) .data__resume .points .box .point .bar__loading {
    background-color: red;
    height: 20px;
    width: 100px;
}

.box.left .box__infos:nth-of-type(1) .data__resume .points .box .point .bar__loading .loading {
    background-color: rgb(125, 255, 125);
    height: 100%;
    width: 84%;
}

/*TEMPORÁRIO*/
.box.left .box__infos:nth-of-type(1) .data__resume .points .box:nth-of-type(1) .point .loading {
    width: 54%;
}

.box.left .box__infos:nth-of-type(1) .data__resume .points .box:nth-of-type(2) .point .loading {
    width: 34%;
}

.box.left .box__infos:nth-of-type(1) .data__resume .points .box:nth-of-type(3) .point .loading {
    width: 69%;
}

.box.left .box__infos:nth-of-type(1) .data__resume .points .box:nth-of-type(5) .point .loading {
    width: 29%;
}

.box.left .box__infos:nth-of-type(1) .data__resume .points .box:nth-of-type(6) .point .loading {
    width: 9%;
}

