header.header {
    align-items: center;
    display: flex;
    flex-direction: column;
    box-shadow: 1px 1px 5px black;
    justify-content: space-evenly;
    background-color: var(--cor2);
}

.header__top, 
.header__bottom {
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    height: auto;
    width: 100%;
}

.header__top {
    border-bottom: 1px solid rgba(255, 255, 255, 0.36);
}

.header__bottom {
    height: auto;
    padding: 15px 0px;
}