.nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 600px;
}


nav .link {
    align-items: center;
    background-color: var(--cor1);
    border-radius: 3px;
    color: white;
    display: flex;
    text-decoration: none;
    height: 20px;
    justify-content: space-between;
    width: 70px;
    padding: 5px 8px;
}

nav .link:hover {
    transition: .1s;
    border: 1px solid rgb(98, 166, 255);
}