.nav__bottom {
    align-items: flex-start;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    height: 100%
}

.painels {
    display: flex;
    justify-content: left;
    align-items: center;
}

.nav__bottom .link {
    align-items: center;
    background-color: var(--cor1);
    border-radius: 3px;
    display: flex;
    height: 20px;
    justify-content: space-evenly;
    width: 90px;
    margin-left: 15px;
}
