.wrapper__container {
    background-color: lightgray;
    border-radius: 0px 5px 5px 0px;
    box-sizing: border-box;
    height: 100%;
    padding: 20px 50px;
    width: 100%;
}

.buttons___filter {
    align-items: center;
    justify-content: space-evenly;
    display: flex;
    width: 100%;
}

.graph__container {
    box-sizing: border-box;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 175px;
    width: 100%;
    
}



.meses, .columns {
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.mes {
    text-align: center;
    width: 60px;
}