.valor {
    font-size: 12px;
    text-align: center;
}

.graph__column {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: center;
    height: 80%;
    width: 60px;
}

.column {
    background-color: var(--cor3);
    height: 70%;
    width: 60%;
}

