.section__customerprofile {
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    height: 95%;
}

.section__customerprofile .container {
    border-radius: 5px;
    box-shadow: 0px 0px 15px 4px #00000040;
}

.section__customerprofile .container:nth-of-type(1) {
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    background-color: whitesmoke;
    height: 100%;
    width: 22%;
}

.section__customerprofile .container:nth-of-type(1) .top__infos {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.section__customerprofile .container:nth-of-type(1) .top__infos .profilepic {
    background-image: url('../../../../public/customer__profilepic/male.png');
    background-size: cover;
    height: 150px;
    margin-bottom: 20px;
    width: 150px;
}


.section__customerprofile .container:nth-of-type(1) .bottom__infos {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    border-top: 1px solid var(--cor2);
    border-bottom: 1px solid var(--cor2);
    height: 400px;
    width: 90%;
}

.section__customerprofile .container:nth-of-type(1) .bottom__infos .info {
    box-sizing: border-box;
    background-color: var(--cor1);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding: 8px 10px;
}

.section__customerprofile .container:nth-of-type(1) .spanlabel {
    font-weight: bold;
    color: white;
}

.section__customerprofile .container:nth-of-type(1) .spaninfo {
    color: white;
    font-size: 19px;
}

.section__customerprofile .container:nth-of-type(2) {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100%;
    width: 75%;
    background-color: var(--cor2);
}



.section__customerprofile .container:nth-of-type(2) .boxes {
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    background-color: var(--cor1);
    height: 100%;
    width: 100%;
}

.section__customerprofile .container:nth-of-type(2) .boxes .box {
    height: 98%;
    width: 48%;
}

.section__customerprofile .container:nth-of-type(2) .boxes .box.left {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.section__customerprofile .container:nth-of-type(2) .boxes .box.left .box__infos {
    align-items: center;
    display: flex;
    background-color: white;
    border-radius: 5px;
    height: 32%;
    width: 100%;
}


.section__customerprofile .container:nth-of-type(2) .boxes .box.left .box__infos:nth-of-type(1) {
    justify-content: space-evenly;
}


.box.left .box__infos:nth-of-type(1) .rank {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    width: 30%;
}

.box.left .box__infos:nth-of-type(1) .rank .circle {
    align-items: center;
    display: flex;
    justify-content: center;
    border: 7px solid var(--cor2);
    background-color: none;
    border-radius: 100px;
    font-size: 50px;
    height: 120px;
    width: 120px;
}

.box.left .box__infos:nth-of-type(1) .rank span {
    font-size: 35px;
    font-weight: bolder;
}

.section__customerprofile .container:nth-of-type(2) .boxes .box.left .box__infos:nth-of-type(2) {
    align-items: center;
    display: flex;
    background-color: transparent;
    justify-content: space-between;
    flex-direction: row;
    border-radius: 5px;
    height: 32%;
    width: 100%;
}

.section__customerprofile .container:nth-of-type(2) .boxes .box.left .box__infos:nth-of-type(2) .divleft,
.divright {
    align-items: center;
    display: flex;
    background-color: white;
    justify-content: space-evenly;
    flex-direction: column;
    height: 100%;
    border-radius: 5px;
    width: 49%;
}

.section__customerprofile .container:nth-of-type(2) .boxes .box.left .box__infos:nth-of-type(2) .greater,
.worst {
    height: 40%;
    width: 85%;
}

.section__customerprofile .container:nth-of-type(2) .boxes .box.left .box__infos:nth-of-type(2) .greater {
    border-bottom: 1px solid var(--cor2);
}

.section__customerprofile .container:nth-of-type(2) .boxes .box.left .box__infos:nth-of-type(3) {
    background-color: transparent;
    justify-content: space-between;
}



.section__customerprofile .container:nth-of-type(2) .boxes .box.right {
    background-color: white;
    border-radius: 5px;
}

.section__customerprofile .container:nth-of-type(2) .boxes .box.right .tabs {
    align-items: flex-end;
    border-bottom: 1px solid lightgray;
    display: flex;
    justify-content: space-evenly;
    height: 65px;

}

.section__customerprofile .container:nth-of-type(2) .boxes .box.right .tabs .tab {
    align-items: center;
    display: flex;
    border-radius: 0px;
    border: none;
    background-color: white;
    color: gray;
    font-weight: bold;
    font-size: 15px;
    padding: 0px;
    height: 75%;
}

.section__customerprofile .container:nth-of-type(2) .boxes .box.right .tabs .tab:nth-of-type(2) {
    border-bottom: 3px solid var(--cor1);
}