.section__customerprofile {
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    height: 95%;
}

.section__customerprofile .container {
    border-radius: 5px;
    box-shadow: 0px 0px 15px 4px #00000040;
}

.section__customerprofile .container:nth-of-type(1) {
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    background-color: whitesmoke;
    height: 100%;
    width: 22%;
}

.section__customerprofile .container:nth-of-type(1) .top__infos {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.section__customerprofile .container:nth-of-type(1) .top__infos .profilepic {
    background-image: url('../../../../public/customer__profilepic/male.png');
    background-size: cover;
    height: 150px;
    margin-bottom: 20px;
    width: 150px;
}


.section__customerprofile .container:nth-of-type(1) .bottom__infos {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    border-top: 1px solid var(--cor2);
    border-bottom: 1px solid var(--cor2);
    height: 400px;
    width: 90%;
}

.section__customerprofile .container:nth-of-type(1) .bottom__infos .info {
    box-sizing: border-box;
    background-color: var(--cor1);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding: 8px 10px;
}


.section__customerprofile .container:nth-of-type(1) .spanlabel {
    font-weight: bold;
    color: white;
}


.section__customerprofile .container:nth-of-type(1) .spaninfo {
    color: white;
    font-size: 19px;
}

.section__customerprofile .container:nth-of-type(2) {
    height: 100%;
    width: 75%;
    background-color: var(--cor2);
}
