.section__customerprofile {
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    height: 95%;
    width: 100%;
}

.section__customerprofile .container:not(:nth-of-type(2)) {
    border-radius: 5px;
    box-shadow: 0px 0px 15px 4px #00000040;
}


.section__customerprofile .container:nth-of-type(2) {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100%;
    width: 75%;
}


.section__customerprofile .container:nth-of-type(2) .boxes {
    align-items: center;
    
    display: flex;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;
}

.section__customerprofile .container:nth-of-type(2) .boxes .box {
    
    height: 100%;
    width: 48%;
}

.section__customerprofile .container:nth-of-type(2) .boxes .box.left {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.section__customerprofile .container:nth-of-type(2) .boxes .box.left .box__infos {
    
    align-items: center;
    display: flex;
    background-color: white;
    border-radius: 5px;
    height: 32%;
    width: 100%;
}

.section__customerprofile .container:nth-of-type(2) .box__infos:nth-of-type(1) {
    box-shadow: 0px 0px 15px 4px #00000040;
}


.section__customerprofile .container:nth-of-type(2) .boxes .box.left .box__infos:nth-of-type(1) {
    justify-content: space-evenly;
}


.box.left .box__infos:nth-of-type(1) .rank {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    width: 30%;
}

.box.left .box__infos:nth-of-type(1) .rank .circle {
    align-items: center;
    display: flex;
    justify-content: center;
    border: 7px solid var(--cor2);
    background-color: none;
    border-radius: 100px;
    font-size: 50px;
    height: 120px;
    width: 120px;
}

.box.left .box__infos:nth-of-type(1) .rank span {
    font-size: 35px;
    font-weight: bolder;
}

.section__customerprofile .container:nth-of-type(2) .boxes .box.left .box__infos:nth-of-type(2) {
    align-items: center;
    display: flex;
    background-color: transparent;
    justify-content: space-between;
    flex-direction: row;
    border-radius: 5px;
    height: 32%;
    width: 100%;
}

.section__customerprofile .container:nth-of-type(2) .boxes .box.left .box__infos:nth-of-type(2) .subcontainer {
    align-items: center;
    box-shadow: 0px 0px 15px 4px #00000040;
    display: flex;
    background-color: white;
    justify-content: space-evenly;
    flex-direction: column;
    height: 100%;
    border-radius: 5px;
    width: 49%;
}



.section__customerprofile .container:nth-of-type(2) .boxes .box.left .box__infos:nth-of-type(3) {
    background-color: transparent;
    justify-content: space-between;
}



.section__customerprofile .container:nth-of-type(2) .boxes .box.right {
    background-color: white;
    box-shadow: 0px 0px 15px 4px #00000040;
    border-radius: 5px;
}
