.valor {
    font-size: 12px;
    text-align: center;
    margin-bottom: 7px;
    transform: rotate(90deg);
}

.columns {

}

.customer__graphic .graph__column {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: center;
    height: 90%;
    width: 30px;
}

.customer__graphic .column {
    background-color: var(--cor0);
    width: 30%;

}


