
.content_children.customer__graphic {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 230px;
    width: 100%;
}

.graphic__section {
    grid-area: graphic__section;
}

.customer__graphic .wrapper__container {
    background-color: var;
    box-sizing: border-box;
    height: 100%;
    padding: 0px;
    width: 100%;
}

.buttons__filter {
    align-items: center;
    justify-content: space-evenly;
    display: flex;
    width: 100%;
}

.graph__container {
    box-sizing: border-box;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 204px;
    width: 100%;
    
}

.graph__container .graph__column {
    width: 54px;
}

.meses, .columns {
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    height: 60%;
}

.meses {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 10px;
    width: 100%;
    height: 5%;
}

.mes {
    text-align: center;
    width: 54px;
}

.buttons__filter .btns__graphic__data {
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: var(--cor3);
    width: 12%;
    padding: 3px 15px
}

.buttons__filter .filter__by__year {
    outline: none;
    border: none;
    border-radius: 4px;
    padding: 3px 0px;
    width: 100px;
}