.main__section.main__login {
    align-items: center;
    border-radius: 6px;
    background-color: #e5e5f7;
    background-image: repeating-radial-gradient(circle at 0 0, #123357 0, #12335738 795px), repeating-linear-gradient(var(--cor0), var(--cor2));
    display: flex;
    justify-content: center;
    padding: 0px;
}

.section__login {
    align-items: center;
    box-shadow: 0px 0px 13px 4px #00000070;
    border-radius: 0px 60px 0px 60px;
    height: 76vh;
    display: flex;
    justify-content: center;
}