.container_welcome {
    background: linear-gradient(177deg, rgba(14, 0, 255, 1) 0%, rgb(6, 122, 255) 100%);
    border-radius: 5px 0px 0px 5px;
    box-sizing: border-box;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 380px;
    padding: 7px 10px;
    width: 380px;
}

.container_welcome p {
    margin: 5px 0px;
}

.container_welcome ul {
    align-self: left;
}