.valor {
    font-size: 12px;
    text-align: center;
    margin-bottom: 7px;
}

.columns {

}

.graph__column {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: center;
    height: 90%;
    width: 60px;
}

.column {
    background-color: var(--cor4);
    width: 60%;
}

