.aside__content.left .container {
    align-items: center;
    background-color: var(--cor2);
    border-radius: 5px 0px 0px 5px;
    display: flex;
    justify-content: space-evenly;
    height: 100%;
    flex-direction: column;
}

.aside__content.left .container .container__infos {
    display: flex;
    justify-content: center;
    width: 90%;
    
}

.container__infos .info, .infos__data {
    align-items: center;
    display: flex;
    height: 30px;
    justify-content: left;
    padding-left: 15px;
    
}

.container__infos .info {
    background-color: white;
    border-radius: 4px 0px 0px 4px;
    font-weight: bold;
    width: 145px;
}

.container__infos .infos__data {
    background-color: rgba(255, 255, 255, 0.376);
    border-radius: 0px 4px 4px 0px;
    color: white;
    width: 160px;
    
}