.content_children.painel {
    align-items: center;
    box-shadow: 0px 0px 15px 4px #00000040;
    background-color: blue;
    border: 1px solid var(--cor2);
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 430px;
    margin-top: 20px;
    width: 100%;
}

.content_children.painel .container {
    display: grid;
    grid-template-columns: 4fr;
    grid-template-rows: 160px 160px;
    grid-template-areas: 
    "boxes boxes boxes boxes"
    "boxes boxes boxes boxes";
    gap: 10px;
    height: 85%;
}

.content_children.painel .container .boxes {
    background-color: lightblue;
    grid-area: "boxes";
    width: 300px;
}