.content_children.painel {display: flex;
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    box-shadow: 0px 0px 15px 4px #00000040;
    background-color: blue;
    border: 1px solid var(--cor2);
    border-radius: 7px;
    height: 430px;
    margin-top: 20px;
    width: 100%;
}