.content_children.painel {
    align-items: center;
    box-shadow: 0px 0px 15px 4px #00000040;
    background-color: var(--cor2);
    border: 1px solid var(--cor2);
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 390px;
    margin-top: 20px;
    width: 100%;
}

.content_children.painel .painel__btns {
    align-items: center;
    justify-content: space-evenly;
    display: flex;
    width: 100%;
}

.content_children.painel .painel__btns__container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 90%;
}

.painel__btns__container .btn {
    background-color: var(--cor1);;
    border: none;
    border-radius: 3px;
    color: white;
    cursor: pointer;
    outline: none;
    width: 80px;
}

.painel__btns__container .btn:hover {
    background-color: var(--cor3);
}

.painel__btns__container .btn:focus {
    background-color: var(--cor3);
}

.content_children.painel .container {
    display: grid;
    grid-template-columns: repeat( 4, minmax(150px, 1fr) );
    grid-template-rows: 130px 130px;
    grid-template-areas: 
    "boxes boxes boxes boxes"
    "boxes boxes boxes boxes";
    gap: 10px;
    height: 70%;
}

.content_children.painel .container .boxes {
    align-items: center;
    border-radius: 4px;
    color: white;
    display: flex;
    justify-content: space-evenly;
    background-color: var(--cor1);
    grid-area: "boxes";
    width: 400px;
}

.content_children.painel .container .boxes i {
    font-size: 70px;
}

.content_children.painel .container .boxes .infos {

}

.content_children.painel .container .boxes .infos h3 {
    font-size: 25px;
    margin: 0;
}

.content_children.painel .container .boxes .infos span {
    font-size: 22px;
}

@media screen and (max-width: 1400px) {
    .content_children.painel .container .boxes {
        width: 300px;
    }
}