.wrap__table {
    height: 100%;
    width: 100%;
}

.rank__rca {
    background-color: none;
}

.rank__rca .tr {
    border-bottom: 1px solid black;
}


.wins span {
    font-weight: bold;
    margin: 0px 3px;
}



.wins span:nth-of-type(1) {
    color: red;
}

.wins span:nth-of-type(2) {
    color: green;
}

.wins span:nth-of-type(3) {
    color: red;
}